body{
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1H3N6q-asuHL8r6qp5lKD_NfULVSvp5gKZxd9PdQV&s');
	color: rgb(255, 255, 255);
    height: 200px;
    background-size: cover;
}
